@{
    var tickets = Model;
}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Severity</th>
        <th>Description</th>
        <th>Department Name</th>
        <th>Developers Count</th>
    </tr>
    @foreach (var ticket in tickets)
    {
        <tr>
            <td><a href="/tickets/details/@ticket.Id">@ticket.Id</a></td>
            <td>@ticket.Title</td>
            <td>@ticket.Description</td>
            <td>@ticket.Severity</td>
            <td>@ticket.DeptName</td>
            <td>@ticket.DevelopersCount</td>
            <td>
                <button class="btn-success rounded border-0 p-2">
                    <a class="text-white text-decoration-none" href="/tickets/edit/@ticket.Id">Edit</a>
                </button>
            </td>
            <td>
                <form action="Delete/@ticket.Id" method="post">
                    <button class="btn-danger rounded border-0 p-2">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
