@using Microsoft.AspNetCore.Html;
@{
    var cars = Model;

    IHtmlContent GetText(string str, Car car)
    {
        switch (str)
        {
            case "Name":
                return Html.Raw($"<strong>{str}</strong>: {car.Model} from {car.Manufacturer}");
            case "Usage Duration":
                return Html.Raw($"<strong>{str}</strong>: {DateTime.Now.Year - car.FirstUseDate.Year} years");
            case "Description":
                return @Html.Raw(car.HtmlDescription);
            default:
                return Html.Raw("");
        }
    }
}

<ul>
    @foreach (var car in cars)
    {
        <li>@GetText("Name",car)</li>
        <li>@GetText("Usage Duration",car)</li>
        <li>@GetText("Description",car)</li>
        <li>
            <figure class="figure">
                <img src="car.Image" class="figure-img img-fluid rounded" alt="@($"Name: {car.Model} from {car.Manufacturer}")">
                <figcaption class="figure-caption">@GetText("Name",car)</figcaption>
            </figure>
        </li>
        <li>
            <button class="btn-success rounded border-0 p-2">
                <a class="text-white text-decoration-none" href="/cars/getdetails?carModel=@car.Model&status=list">Details</a>
            </button>
            <hr>
        </li>
    }
</ul>

@{
    void RenderTableBody()
    {
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Usage Duration</th>
        <th>Description</th>
        <th>Figure</th>
        <th>Details</th>
    </tr>
    @for (int i = 0; i < cars.Count; i++)
    {
        <tr>
            <td>@i</td>
            <td>@GetText("Name",cars[i])</td>
            <td>@GetText("Usage Duration",cars[i])</td>
            <td>@Html.Raw(cars[i].HtmlDescription)</td>
            <td>
                <figure class="figure">
                     <img src="cars[i].Image" class="figure-img img-fluid rounded" alt="@($"Name: {cars[i].Model} from {cars[i].Manufacturer}")">
                     <figcaption class="figure-caption">@GetText("Name",cars[i])</figcaption>
                </figure>
            </td>
            <td>
                <button class="btn-success rounded border-0 p-2">
                        <a class="text-white text-decoration-none"  href="/cars/getdetails?carModel=@cars[i].Model&status=table">Details</a>
                </button>
            </td>
        </tr>
    }
    }
}
<table class="table">
    @{
        RenderTableBody();
    }
</table>