
@{
    var car = Model.car;
    var status = Model.status;
}
<div class="text-center fs-3 mb-4">
    <strong>Name:</strong>
    @($" {car.Model} from {car.Manufacturer}")
</div>
<div class="fs-5">
    <p>Usage Duration: @(DateTime.Now.Year - car.FirstUseDate.Year) years</p>
        <p>@Html.Raw(car.HtmlDescription)</p>
        <p>
          <figure class="figure">
              <img src="car.Image" class="figure-img img-fluid rounded" alt="@($"Name: {car.Model} from {car.Manufacturer}")">
              <figcaption class="figure-caption">@($"Name: {car.Model} from {car.Manufacturer}")</figcaption>
          </figure>
        </p>
</div>
<div class="fs-4 text-center">From: 
    <span class="text-danger">@Model.status</span>
</div>
